* {margin: 0; padding: 0;}

header, nav, main, section, aside, footer { display: block; }

#wrapper {
    width: 480px;
    margin: 0px auto;
}

.clear { clear: both; }
.clearer { clear: none; }

/*mobile*/
@media screen and (max-width: 495px) {
    body#AgamsGarden{
        width: 480px;
        height: 736px;
        background-image: url("../images/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#AgamsGarden header {
        width: 480px;
        height: 100px;
    }
    body#AgamsGarden main {
        width: 480px;
        height: 569px;
    }
    body#AgamsGarden footer {
        width: 480px;
        height: 67px;
        background-image: url("../images/General icons/footerBackground.png");
        background-repeat: no-repeat;
    }

    .logoMobile {
        background-image: url("../images/General icons/logo.png");
        background-repeat: no-repeat;
        width: 92px;
        height: 61px;
        position: absolute;
        top: 6px;
        left: 194px;
    }
    .headerBar {
        background-image: url("../images/General icons/headerBar.png");
        background-repeat: no-repeat;
        width: 480px;
        height: 27px;
        position: absolute;
        top: 73px;
    }
    .hamburger {
        background-image: url("../images/General icons/headerHamburger.png");
        background-repeat: no-repeat;
        width: 34px;
        height: 24px;
        position: absolute;
        left: 12px;
        top: 24px;
    }
    .options {
        background-image: url("../images/General icons/headerOptions.png");
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
        position: absolute;
        top: 18px;
        left: 445px;
    }
    .listBackground {
        background-image: url("../images/General icons/listbackground.png");
        background-repeat: no-repeat;
        width: 389px;
        height: 440px;
        position: absolute;
        top: 185px;
        left: 46px;
    }
    .recommendedButton {
        background-image: url("../images/General icons/recommendedButton.png");
        background-repeat: no-repeat;
        width: 87px;
        height: 55px;
        position: absolute;
        top: 677px;
        left: 32px;
    }
    .myGardensButton {
        background-image: url("../images/General icons/myGardensButton.png");
        background-repeat: no-repeat;
        width: 67px;
        height: 62px;
        position: absolute;
        top: 670px;
        left: 206px;
    }
    .myGardensButton-Selected {
        background-image: url("../images/General icons/myGardensButton-Selected.png")!important;
    }
    .searchButton {
        background-image: url("../images/General icons/searchButton.png");
        background-repeat: no-repeat;
        width: 43px;
        height: 50px;
        position: absolute;
        top: 679px;
        left: 383px;
    }
    .searchButton-Selected {
        background-image: url("../images/General icons/searchButton-Selected.png")!important;
    }
    .leftArrow {
        background-image: url("../images/General icons/LeftArrow-Gardens.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 129px;
        left: 39px;
    }
    .rightArrow {
        background-image: url("../images/General icons/RightArrow-Gardens.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 129px;
        left: 414px;
    }
    .myGardenList {
        background-image: url("../images/General icons/listIcon.png");
        background-repeat: no-repeat;
        width: 42px;
        height: 26px;
        position: absolute;
        top: 197px;
        left: 116px;
    }
    .myGardenNotifications {
        background-image: url("../images/General icons/listNotifications.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 29px;
        position: absolute;
        top: 195px;
        left: 343px;
    }
    .flowerAddedBunner {
        background-image: url("../images/General icons/flowerAddedBunner.png");
        background-repeat: no-repeat;
        width: 480px;
        height: 100px;
        position: absolute;
    }
    .gardenNameText {
        font-weight: normal;
        font-size: 26px;
        font-family: 'ABeeZee'!important;
        color: #929292;
        position: absolute;
        top: 125px;
        left: 144px;
    }
    body#Hibiscus{
        width: 480px;
        height: 736px;
    }
    body#Hibiscus header {
        width: 480px;
        height: 334px;
    }
    body#Hibiscus main {
        width: 480px;
        height: 182px;
    }
    body#Hibiscus footer {
        width: 480px;
        height: 220px;
    }
    .flowerCoverPic {
        background-image: url("../images/Flowers page/Hibiscus.png");
        background-repeat: no-repeat;
        width: 480px;
        height: 334px;
        position: absolute;
    }
    .backArrow {
        background-image: url("../images/General icons/backArrow.png");
        background-repeat: no-repeat;
        width: 73px;
        height: 48px;
        position: absolute;
        top: 13px;
        left: -6px;
    }
    .addToGardenButton {
        background-image: url("../images/Flowers page/addFlowerButton.png");
        background-repeat: no-repeat;
        width: 221px;
        height: 40px;
        position: absolute;
        top: 313px;
        left: 130px;
        border: none;
        background-color: transparent;
    }
    .separationLine {
        background-image: url("../images/Flowers page/separationLine.png");
        background-repeat: no-repeat;
        width: 1px;
        height: 87px;
        position: absolute;
        top: 396px;
        left: 241px;
    }
    .plantsCoverText {
        font-weight: normal;
        font-size: 26px;
        font-family: 'Abhaya Libre'!important;
        color: white;
        position: absolute;
        top: 271px;
        left: 18px;
    }
    .plantsMainTextHeadline {
        font-weight: normal;
        font-size: 18px;
        font-family: 'Abhaya Libre'!important;
        color: #629c44;
        position: absolute;
    }
    .plantsMainTextInfo {
        font-weight: normal;
        font-size: 24px;
        font-family: 'Abhaya Libre'!important;
        color: #4d4c4c;
        position: absolute;
    }
    .plantsMainTextFamily {
        top: 396px;
        left: 100px;
    }
    .plantsMainTextDuration {
        top: 396px;
        left: 329px;
    }
    .plantsMainTextFamilyInfo {
        top: 428px;
        left: 78px;
    }
    .plantsMainTextDurationInfo {
        top: 428px;
        left: 315px;
    }
    .infoBoxesForPlant {
        background-repeat: no-repeat;
        position: absolute;
        width: 240px;
        height: 110px;
    }
    .waterInfo {
        background-image: url("../images/Flowers page/waterInfo.png");
        top: 516px;
        left: 1px;
    }
    .plantingInfo {
        background-image: url("../images/Flowers page/plantingInfo.png");
        top: 626px;
        left: 1px;
    }
    .spaceInfo {
        background-image: url("../images/Flowers page/spaceInfo.png");
        top: 516px;
        left: 240px;
    }
    .exposureInfo {
        background-image: url("../images/Flowers page/exposureInfo.png");
        top: 626px;
        left: 240px;
    }
    .infoBoxText {
        font-weight: normal;
        font-family: 'ABeeZee' !important;
        position: absolute;
    }
    .waterInfoHeadline {
        font-size: 18px;
        color: #008db1;
        top: 529px;
        left: 95px;
    }
    .waterInfoContents {
        font-size: 14px;
        color: #008db1;
        top: 597px;
        left: 106px;
    }
    .plantingInfoHeadline {
        font-size: 18px;
        color: #ffb92e;
        top: 639px;
        left: 85px;
    }
    .plantingInfoContents {
        font-size: 14px;
        color: #ffb92e;
        top: 711px;
        left: 76px;
    }
    .spaceInfoHeadline {
        font-size: 18px;
        color: #bed49f;
        top: 529px;
        left: 334px;
    }
    .spaceInfoContents {
        font-size: 14px;
        color: #bed49f;
        top: 596px;
        left: 340px;
    }
    .exposureInfoHeadline {
        font-size: 18px;
        color: #79478f;
        top: 639px;
        left: 319px;
    }
    .exposureInfoContents {
        font-size: 14px;
        color: #79478f;
        top: 711px;
        left: 323px;
    }
    body#searchByName{
        width: 480px;
        height: 736px;
        background-image: url("../images/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#searchByName header {
        width: 480px;
        height: 73px;
        float: left;
    }
    body#searchByName main {
        width: 456px;
        height: 596px;
        float: left;
    }
    body#searchByName aside {
        width: 24px;
        height: 596px;
        float: left;
    }
    body#searchByName footer {
        width: 480px;
        height: 67px;
        background-image: url("../images/General icons/footerBackground.png");
        background-repeat: no-repeat;
        float: left;
    }
    .headerSearchText {
        font-weight: bold;
        font-size: 24px;
        font-family: 'ABeeZee' !important;
        color: #f7f6f6;
        position: absolute;
        top: 19px;
        left: 202px;
    }
    .sideLetters {
        background-image: url("../images/General icons/sideLetters.png");
        background-repeat: no-repeat;
        width: 16px;
        height: 473px;
        position: absolute;
        top: 179px;
        left: 457px;
    }
    .searchInput {
        width: 347px;
        height: 25px;
        position: absolute;
        top: 103px;
        left: 67px;
    }
    body#searchByCategory{
        width: 480px;
        height: 736px;
        background-image: url("../images/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#searchByCategory header {
        width: 480px;
        height: 73px;
        float: left;
    }
    body#searchByCategory main {
        width: 480px;
        height: 596px;
        float: left;
    }
    body#searchByCategory footer {
        width: 480px;
        height: 67px;
        background-image: url("../images/General icons/footerBackground.png");
        background-repeat: no-repeat;
        float: left;
    }
    .categoriesSearchText {
        font-weight: bold;
        font-style: italic;
        border-bottom: solid 2px #606060;
        font-size: 26px;
        font-family: 'ABeeZee' !important;
        color: #606060;
        position: absolute;
        top: 151px;
        left: 176px;
    }
    .filterButton {
        background-image: url("../images/Search page/filterIcon.png");
        background-repeat: no-repeat;
        width: 31px;
        height: 31px;
        position: absolute;
        top: 154px;
        left: 32px;
        border: none;
        background-color: transparent;
    }
    .infoButton {
        background-image: url("../images/Search page/infoIcon.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 161px;
        left: 426px;
        border: none;
        background-color: transparent;
    }
    .QRbutton {
        background-image: url("../images/Search page/QRbutton.png");
        background-repeat: no-repeat;
        width: 219px;
        height: 89px;
        position: absolute;
        top: 549px;
        left: 131px;
        border: none;
        background-color: transparent;
    }
    .whiteRectangle {
        background-image: url("../images/Search page/whiteRectangle.png");
        background-repeat: no-repeat;
        width: 480px;
        height: 151px;
        position: absolute;
        top: 519px;
        left: 0px;
    }
    .searchInput {
        width: 347px;
        height: 25px;
        border: none;
        border-bottom: solid 2px #44aa00;
        font-size: 14px;
        font-family: 'ABeeZee' !important;
        color: #606060;
        text-indent: 15px;
    }
    ::placeholder {
        color: #aaaaaa;
    }
    .searchIcon {
        background-image: url("../images/Search page/searchIcon.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 103px;
        left: 68px;
    }
    .deleteIcon {
        background-image: url("../images/Search page/deleteIcon.png");
        background-repeat: no-repeat;
        width: 17px;
        height: 12px;
        position: absolute;
        top: 109px;
        left: 393px;
        border: none;
        background-color: transparent;
    }
    body#loadingPage{
        width: 480px;
        height: 736px;
        background-image: url("../images/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#loadingPage header {
        width: 480px;
        height: 73px;
        float: left;
    }
    body#loadingPage main {
        width: 480px;
        height: 663px;
        float: left;
    }
    .loadingFlowerGIF {
        background-image: url("../images/Loading page/flowerGif2.gif");
        background-repeat: no-repeat;
        width: 281px;
        height: 281px;
        position: absolute;
        top: 224px;
        left: 99px;
    }
    .loadingDotsGIF {
        background-image: url("../images/Loading page/loadingDots2.gif");
        background-repeat: no-repeat;
        width: 121px;
        height: 68px;
        position: absolute;
        top: 622px;
        left: 180px;
    }
}

.list {
    margin-top: 50px;
    padding:21px 0 0;
}
.list > li {
    display:block;
    padding-left: 35px;
    padding-bottom: 16px;
}
.image {
    width: 55px;
    height: 55px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: left;
}
.notificationImg {
    width: 22px;
    height: 22px;
    float: right;
    margin: 1px;
}
.notificationImgRight {
    margin-right: 24px;
}
.listFont {
    font-size: 14px;
    margin:0 0 0.3rem;
    color: #444444;
    padding-top: 10px;
    font-family: 'ABeeZee' !important;
}
.family {
    font-size: 10px;
    color: #929292;
    font-family: 'ABeeZee' !important;
    float: left;
}
input {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px
}
input:focus {
    outline:none;
    border-color:#aaa;
}
.sort {
    padding:8px 30px;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
}
.sort:hover {
    text-decoration: none;
    background-color:#1b8aba;
}
.sort:focus {
    outline:none;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}

/*Tablet*/
@media screen and (min-width: 496px) and (max-width: 768px) {
    body#AgamsGarden{
        width: 768px;
        height: 736px;
        background-image: url("../images/Tablet/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#AgamsGarden header {
        width: 768px;
        height: 100px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    body#AgamsGarden main {
        width: 768px;
        height: 569px;
        position: absolute;
        left: 0px;
        top: 100px;
    }
    body#AgamsGarden footer {
        width: 768px;
        height: 67px;
        background-image: url("../images/Tablet/General icons/footerBackground.png");
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        top: 669px;
    }
    .logoMobile {
        background-image: url("../images/General icons/logo.png");
        background-repeat: no-repeat;
        width: 92px;
        height: 61px;
        position: absolute;
        top: 6px;
        left: 337px;
    }
    .headerBar {
        background-image: url("../images/Tablet/General icons/headerBar.png");
        background-repeat: no-repeat;
        width: 768px;
        height: 27px;
        position: absolute;
        top: 73px;
    }
    .hamburger {
        background-image: url("../images/General icons/headerHamburger.png");
        background-repeat: no-repeat;
        width: 34px;
        height: 24px;
        position: absolute;
        left: 12px;
        top: 24px;
    }
    .options {
        background-image: url("../images/General icons/headerOptions.png");
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
        position: absolute;
        top: 18px;
        left: 718px;
    }
    .listBackground {
        background-image: url("../images/Tablet/General icons/listbackground2.png");
        background-repeat: no-repeat;
        width: 489px;
        height: 440px;
        position: absolute;
        top: 85px;
        left: 139px;
    }
    .recommendedButton {
        background-image: url("../images/General icons/recommendedButton.png");
        background-repeat: no-repeat;
        width: 87px;
        height: 55px;
        position: absolute;
        top: 12px;
        left: 75px;
    }
    .myGardensButton {
        background-image: url("../images/General icons/myGardensButton.png");
        background-repeat: no-repeat;
        width: 67px;
        height: 62px;
        position: absolute;
        top: 3px;
        left: 349px;
    }
    .myGardensButton-Selected {
        background-image: url("../images/General icons/myGardensButton-Selected.png")!important;
    }
    .searchButton {
        background-image: url("../images/General icons/searchButton.png");
        background-repeat: no-repeat;
        width: 43px;
        height: 50px;
        position: absolute;
        top: 10px;
        left: 626px;
    }
    .searchButton-Selected {
        background-image: url("../images/General icons/searchButton-Selected.png")!important;
    }
    .leftArrow {
        background-image: url("../images/General icons/LeftArrow-Gardens.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 29px;
        left: 182px;
    }
    .rightArrow {
        background-image: url("../images/General icons/RightArrow-Gardens.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 29px;
        left: 557px;
    }
    .myGardenList {
        background-image: url("../images/General icons/listIcon.png");
        background-repeat: no-repeat;
        width: 42px;
        height: 26px;
        position: absolute;
        top: 97px;
        left: 234px;
    }
    .myGardenNotifications {
        background-image: url("../images/General icons/listNotifications.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 29px;
        position: absolute;
        top: 95px;
        left: 511px;
    }
    .flowerAddedBunner {
        background-image: url("../images/Tablet/General icons/flowerAddedBunner.png");
        background-repeat: no-repeat;
        width: 768px;
        height: 100px;
        position: absolute;
    }
    .gardenNameText {
        font-weight: normal;
        font-size: 26px;
        font-family: 'ABeeZee'!important;
        color: #929292;
        position: absolute;
        top: 25px;
        left: 287px;
    }
    body#Hibiscus{
        width: 768px;
        height: 736px;
    }
    body#Hibiscus header {
        width: 768px;
        height: 334px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    body#Hibiscus main {
        width: 768px;
        height: 182px;
        position: absolute;
        left: 0px;
        top: 334px;
    }
    body#Hibiscus footer {
        width: 768px;
        height: 220px;
        position: absolute;
        left: 0px;
        top: 516px;
    }
    .flowerCoverPic {
        background-image: url("../images/Tablet/Flowers page/Hibiscus.png");
        background-repeat: no-repeat;
        width: 768px;
        height: 334px;
        position: absolute;
    }
    .backArrow {
        background-image: url("../images/General icons/backArrow.png");
        background-repeat: no-repeat;
        width: 73px;
        height: 48px;
        position: absolute;
        top: 13px;
        left: -6px;
    }
    .addToGardenButton {
        background-image: url("../images/Flowers page/addFlowerButton.png");
        background-repeat: no-repeat;
        width: 221px;
        height: 40px;
        position: absolute;
        top: -19px;
        left: 273px;
        border: none;
        background-color: transparent;
    }
    .separationLine {
        background-image: url("../images/Flowers page/separationLine.png");
        background-repeat: no-repeat;
        width: 1px;
        height: 87px;
        position: absolute;
        top: 58px;
        left: 384px;
    }
    .plantsCoverText {
        font-weight: normal;
        font-size: 26px;
        font-family: 'Abhaya Libre'!important;
        color: white;
        position: absolute;
        top: 271px;
        left: 18px;
    }
    .plantsMainTextHeadline {
        font-weight: normal;
        font-size: 18px;
        font-family: 'Abhaya Libre'!important;
        color: #629c44;
        position: absolute;
    }
    .plantsMainTextInfo {
        font-weight: normal;
        font-size: 24px;
        font-family: 'Abhaya Libre'!important;
        color: #4d4c4c;
        position: absolute;
    }
    .plantsMainTextFamily {
        top: 66px;
        left: 243px;
    }
    .plantsMainTextDuration {
        top: 66px;
        left: 472px;
    }
    .plantsMainTextFamilyInfo {
        top: 100px;
        left: 221px;
    }
    .plantsMainTextDurationInfo {
        top: 100px;
        left: 458px;
    }
    .infoBoxesForPlant {
        background-repeat: no-repeat;
        position: absolute;
        width: 384px;
        height: 110px;
    }
    .waterInfo {
        background-image: url("../images/Tablet/Flowers page/waterInfo.png");
        top: 0px;
        left: 1px;
    }
    .plantingInfo {
        background-image: url("../images/Tablet/Flowers page/plantingInfo.png");
        top: 110px;
        left: 1px;
    }
    .spaceInfo {
        background-image: url("../images/Tablet/Flowers page/spaceInfo.png");
        top: 0px;
        left: 384px;
    }
    .exposureInfo {
        background-image: url("../images/Tablet/Flowers page/exposureInfo.png");
        top: 110px;
        left: 384px;
    }
    .infoBoxText {
        font-weight: normal;
        font-family: 'ABeeZee' !important;
        position: absolute;
    }
    .waterInfoHeadline {
        font-size: 18px;
        color: #008db1;
        margin-top: 17px;
        left: 167px;
    }
    .waterInfoContents {
        font-size: 14px;
        color: #008db1;
        margin-top: 84px;
        left: 178px;
    }
    .plantingInfoHeadline {
        font-size: 18px;
        color: #ffb92e;
        margin-top: 126px;
        left: 160px;
    }
    .plantingInfoContents {
        font-size: 14px;
        color: #ffb92e;
        margin-top: 198px;
        left: 152px;
    }
    .spaceInfoHeadline {
        font-size: 18px;
        color: #bed49f;
        margin-top: 17px;
        left: 549px;
    }
    .spaceInfoContents {
        font-size: 14px;
        color: #bed49f;
        margin-top: 84px;
        left: 555px;
    }
    .exposureInfoHeadline {
        font-size: 18px;
        color: #79478f;
        margin-top: 126px;
        left: 540px;
    }
    .exposureInfoContents {
        font-size: 14px;
        color: #79478f;
        margin-top: 198px;
        left: 540px;
    }
    body#searchByName{
        width: 768px;
        height: 736px;
        background-image: url("../images/Tablet/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#searchByName header {
        width: 768px;
        height: 73px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    body#searchByName main {
        width: 744px;
        height: 596px;
        position: absolute;
        left: 0px;
        top: 73px;
    }
    body#searchByName aside {
        width: 24px;
        height: 596px;
        position: absolute;
        left: 744px;
        top: 73px;
    }
    body#searchByName footer {
        width: 768px;
        height: 67px;
        background-image: url("../images/Tablet/General icons/footerBackground.png");
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        top: 669px;
    }
    .headerSearchText {
        font-weight: bold;
        font-size: 24px;
        font-family: 'ABeeZee' !important;
        color: #f7f6f6;
        position: absolute;
        top: 19px;
        left: 345px;
    }
    .sideLetters {
        background-image: url("../images/General icons/sideLetters.png");
        background-repeat: no-repeat;
        width: 16px;
        height: 473px;
        position: absolute;
        top: 108px;
        left: 0px;
    }
    .searchInput {
        width: 347px;
        height: 25px;
        position: absolute;
        top: 30px;
        left: 210px;
    }
    .searchInput {
        width: 347px;
        height: 25px;
        border: none;
        border-bottom: solid 2px #44aa00;
        font-size: 14px;
        font-family: 'ABeeZee' !important;
        color: #606060;
        text-indent: 15px;
    }
    ::placeholder {
        color: #aaaaaa;
    }
    .searchIcon {
        background-image: url("../images/Search page/searchIcon.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 30px;
        left: 211px;
    }
    .deleteIcon {
        background-image: url("../images/Search page/deleteIcon.png");
        background-repeat: no-repeat;
        width: 17px;
        height: 12px;
        position: absolute;
        top: 36px;
        left: 536px;
        border: none;
        background-color: transparent;
    }
    body#searchByCategory{
        width: 768px;
        height: 736px;
        background-image: url("../images/Tablet/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#searchByCategory header {
        width: 768px;
        height: 73px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    body#searchByCategory main {
        width: 768px;
        height: 596px;
        position: absolute;
        left: 0px;
        top: 73px;
    }
    body#searchByCategory footer {
        width: 768px;
        height: 67px;
        background-image: url("../images/Tablet/General icons/footerBackground.png");
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        top: 669px;
    }
    .categoriesSearchText {
        font-weight: bold;
        font-style: italic;
        border-bottom: solid 2px #606060;
        font-size: 26px;
        font-family: 'ABeeZee' !important;
        color: #606060;
        position: absolute;
        top: 78px;
        left: 319px;
    }
    .filterButton {
        background-image: url("../images/Search page/filterIcon.png");
        background-repeat: no-repeat;
        width: 31px;
        height: 31px;
        position: absolute;
        top: 154px;
        left: 32px;
        border: none;
        background-color: transparent;
    }
    .infoButton {
        background-image: url("../images/Search page/infoIcon.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 161px;
        right: 30px;
        border: none;
        background-color: transparent;
    }
    .QRbutton {
        background-image: url("../images/Search page/QRbutton.png");
        background-repeat: no-repeat;
        width: 219px;
        height: 89px;
        position: absolute;
        top: 490px;
        left: 274px;
        border: none;
        background-color: transparent;
    }
    .whiteRectangle {
        background-image: url("../images/Search page/whiteRectangle.png");
        background-repeat: no-repeat;
        width: 768px;
        height: 151px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    body#loadingPage{
        width: 768px;
        height: 736px;
        background-image: url("../images/Tablet/General icons/background.png");
        background-repeat: no-repeat;
    }
    body#loadingPage header {
        width: 768px;
        height: 73px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    body#loadingPage main {
        width: 768px;
        height: 663px;
        position: absolute;
        left: 0px;
        top: 73px;
    }
    .loadingFlowerGIF {
        background-image: url("../images/Loading page/flowerGif2.gif");
        background-repeat: no-repeat;
        width: 281px;
        height: 281px;
        position: absolute;
        top: 151px;
        left: 242px;
    }
    .loadingDotsGIF {
        background-image: url("../images/Loading page/loadingDots2.gif");
        background-repeat: no-repeat;
        width: 121px;
        height: 68px;
        position: absolute;
        top: 549px;
        left: 323px;
    }
}